/*** Variables ***

$main-bg-color: #F6F6F6
$tertiary-color: #99E2D0

/***** Mixin *****

@mixin shadow($blur, $color)
  filter: drop-shadow(0px 4px $blur $color)

@mixin hidden-text
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

main 
  @media (min-width: 768px) 
    display: flex
    flex-direction: column
    align-items: center

/**** Cards section animation **** 

@keyframes slideInRight
  from
    transform: translateX(100%)
    opacity: 0
  to
    transform: translateX(0)
    opacity: 1

/** Header Section *

.header
  margin: 0px
  filter: none

.back
  position: absolute
  margin: 0px 340px 0px 0px
  
  @media (min-width: 768px)
    margin: 0px 740px 0px 0px

  @media (min-width: 1025px)
    width: 100%
    margin: 0px
    padding: 14px 0px

.fa-arrow-left
  @media (min-width: 1025px)
    padding-left: 25px
    font-size: x-large

.restaurant-img
  width:100% 
  z-index: -1
  object-position: 0 45%
  height: 300px
  object-fit: cover

  @media (min-width: 1025px)
    height: 350px
    width: -webkit-fill-available
    object-fit: cover  
    object-position: 0 55%

/** Main Card  *

.main-card 
  background-color: $main-bg-color
  padding: 15px
  border-radius: 45px 45px 0px 0px
  margin-top: -50px
  position: relative
  z-index: 1

  @media (min-width: 768px)
    width: 80%
    display: flex
    flex-direction: column
    align-items: center

  @media (min-width: 1025px)
    width: 70%

  .title
    display: flex
    flex-direction: row
    padding: 20px 5px

  .shrikhand
    font-family: "Shrikhand", serif
    font-size: 28px 
    font-weight: lighter  

  .link  
    display: contents

    .heart-checkbox 
      display: none
        
    .heart-checkbox:checked + .heart-button > .fa-regular 
      display: none
        
    .heart-checkbox:checked + .heart-button > .fa-solid 
      display: flex
          
      @media (min-width: 1025px)
        font-size: x-large

    .heart-button 
      cursor: pointer 
      position: absolute
      margin: -10px 300px

      .fa-solid 
        display: none

      .fa-regular
        
        @media (min-width: 1025px)
          font-size: x-large

/** Each card Section *

.dishes-section
  padding: 15px 0px
  
  @media (min-width: 768px)
    width: 65%

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

.title-section 
  font-weight: 300
  text-transform: uppercase
  font-size: 18px
  padding: 3px 0

.line 
  background-color: $tertiary-color
  padding: 1.5px
  width: 40px
  margin: 3px 0

.card 
  margin: 15px 0
  border-radius: 20px
  display: flex
  justify-content: space-between
  align-items: flex-end
  background-color: white
  @include shadow(10px, rgba(0, 0, 0, 10%))
  animation: fadeIn 1.5s ease-out forwards

  .content-card 
    padding: 12px 15px
    @include hidden-text

  .price
    padding: 12px 15px

  .strong
    font-weight: 500

  .card-text
    font-weight: 300
    padding-top: 5px 
    @include hidden-text

  .hidden-text
    @include hidden-text
  
  .selected-card
    display: flex
    height:70px
    border-radius: 0px 20px 20px 0px
    align-items: flex-end

  .selected-card .selected 
    width: 0px
    display: flex
    transition-duration: 1.5s
    transition-property: width
    background-color: $tertiary-color
    justify-content: center
    border-radius: 0px 20px 20px 0px

    .fa-circle-check
      display: none
  
  &:hover > .selected-card .selected
    width: 65px
    animation: fadeIn 1.5s ease-out forwards
    display: flex
    flex-wrap: wrap
    align-content: center
    height: 100%
    
    .fa-circle-check
      color: white
      display: flex
      font-size: x-large
      animation: fadeIn 1.5s ease-out forwards

/** Button Section *

.btn-section 
  display: flex
  justify-content: center

  @media (min-width: 1025px)
    width: 45%
