/****** Global *****

*
  margin: 0
  font-family: "Roboto", sans-serif

a 
  text-decoration: none 
  color: black

/*** Colors Variables ***

$primary-color: #9356DC
$main-bg-color: #F6F6F6
$tertiary-color: #99E2D0
$green: #008766
$font-grey: #353535
$light-grey: #EAEAEA
$icon-color: #7E7E7E

/***** Mixin *****

@mixin shadow($blur, $color)
  filter: drop-shadow(0px 4px $blur $color)

@mixin border-ronded 
  border-radius: 50px

@mixin gradient($first-color, $second-color) 
  background: linear-gradient(175deg, $first-color, $second-color)

/** Main Header *

header
  color: $font-grey
  z-index: 1
  position: relative

  div
    width: 100%
    display: flex
    flex-wrap: nowrap
    flex-direction: row
    justify-content: center
    background-color: white
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 25%))
    padding-top: 10px

    @media (min-width: 1024px) 
      filter: none
      padding: 0px

.logo
  width: 180px
  padding: 15px

  @media (min-width: 1024px)
    padding: 25px

  &__small 
    width: 105px

    @media (min-width: 1024px) 
      padding: 0px 40px

header h1
  font-size: 16px 
  font-weight: 400

.icon
  padding: 15px
  color: $font-grey
  font-size: x-large

  @media (min-width: 1024px) 
    font-size: large

  &__small 
    font-size: small
    padding: 0px 5px 0px 0px

  &__violet 
    color: $primary-color

  &__grey
    color: $icon-color

  &__white
    color: white

  &__gradient
    background: linear-gradient(#9356DC, #FF79DA)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.container
  background-color: $main-bg-color
  display: flex
  flex-direction: row
  align-items: center

  @media (min-width: 1024px)
    background-color: $light-grey

.location
  justify-content: center
  padding: 0px

/** Call to action Section *

.call-to-action
  background-color: $main-bg-color
  display: flex
  flex-direction: column
  padding: 35px
  align-items: center

.center
  padding: 20px

  @media (min-width: 1024px) 
    font-size: 40px 

.thin
  font-weight: 200
  font-size: larger

  @media (min-width: 1024px) 
    font-size: 18px 

.btn
  color: white
  padding: 17px 25px
  margin: 30px
  font-size: large
  border: none
  @include gradient(#FF79DA, #9356DC)
  @include shadow(10px, rgba(0, 0, 0, 25%))
  @include border-ronded
  transition: transform 1s
  min-width: 55%

  &:hover
    transform: filter
    opacity: 1
    @include gradient(#ff88da, #9365df)
    @include shadow(15px, rgba(0, 0, 0, 35%))

/** Function  Section * 

.function
  background-color: white
  padding: 40px 25px

  @media (min-width: 768px) 
    padding: 40px 60px

  @media (min-width: 1024px) 
    padding: 50px 180px

  h2 
   padding-bottom: 20px

  .flex 
    @media (min-width: 1024px) 
      display: flex 
      flex-direction: row
      justify-content: space-around

  .container
    margin: 20px 0px 20px 15px
    border-radius: 20px
    padding: 15px
    display: flex
    @include shadow(10px, rgba(0, 0, 0, 25%))

    @media (min-width: 1024px) 
      background-color: $main-bg-color
      flex-grow: 1
      margin: 20px
      padding: 10px 15px

  .number-label 
    background-color: $primary-color
    padding: 3px 8px
    margin: -30px
    color: white
    position: absolute
    @include border-ronded

  h3 
    font-weight: 400
    padding: 3px
    
    @media (min-width: 1024px) 
      font-size: medium

/** Restautants Section *

.restautants 
  background-color: $main-bg-color
  display: flex
  flex-direction: column
  padding: 40px 20px

  @media (min-width: 768px) 
    padding: 40px 60px

  @media (min-width: 1024px) 
    padding: 50px 180px

  h2
    padding: 10px 0px

  .cards 
    @media (min-width: 768px) 
      display: flex
      flex-wrap: wrap
      flex-direction: row
      justify-content: space-between

    .card
      border-radius: 20px
      background-color: white
      margin: 20px 0px

      @media (min-width: 768px) 
        width: 48% 

    img 
      border-radius: 20px 20px 0px 0px 
      height: 190px
      width: -webkit-fill-available
      object-fit: cover
      object-position: 0 62%

    .new-label
      color: $green
      background-color: $tertiary-color
      padding: 5px 15px
      border-radius: 3px
      position: absolute
      margin: 10px -90px
      font-size: small
      font-weight: 500
      @include shadow(10px, rgba(0, 0, 0, 25%))

    .card-content
      display: flex
      justify-content: space-between

    .content
      padding: 10px 15px
      display: flex
      flex-direction: column
      align-items: flex-start
      color: black
      width: 80%

      .card-subtitle 
        font-weight: lighter
        padding: 5px 0px
        font-size: large
 
    .link  
      display: flex
      align-items: center
      padding-right: 15px

      .heart-checkbox 
        display: none
        
      .heart-checkbox:checked + .heart-button > .fa-regular 
        display: none
        
      .heart-checkbox:checked + .heart-button > .fa-solid 
        display: flex
          
        @media (min-width: 1025px)
          font-size: x-large

      .heart-button 
        cursor: pointer 

        .fa-solid 
          display: none

        .fa-regular
        
          @media (min-width: 1025px)
            font-size: x-large

/** Main Footer *

footer
  background-color: $font-grey
  color: white
  padding: 10px 10px 30px 10px
  
  @media (min-width: 768px)
    display: flex
    flex-direction: row-reverse
    padding: 60px 15px 30px 15px

  div 
    @media (min-width: 768px)
      display: flex

  ul 
    list-style-type: none
    padding: 0px 10px

    @media (min-width: 768px)
      display: flex
      align-items: center
      padding: 0px 5px 0px 0px

    @media (min-width: 1025px)
      padding: 0px 35px 0px 0px

    li 
      padding: 5px 0px

      @media (min-width: 1025px)
      padding: 5px

/** Loader **/

.loader-container
  position: fixed 
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center

.loader
  border: 16px solid #f3f3f3
  border-radius: 50%
  border-top: 16px solid #9356DC
  width: 120px
  height: 120px
  animation: spin 2s linear infinite

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.loader.hide
  opacity: 0
  animation: fadeOut 1s forwards

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0
    visibility: hidden

.after-loader
  opacity: 0
  animation: fadeIn 0.5s forwards
  animation-delay: 3s 

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

