/* Global */
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color:#9356DC;
  --secondary-color:#FCA311;
  --main-bg-color:#F6F6F6;
  --light-green:#99E2D0;
  --font-green:#008766;
  --font-grey:#353535;
  --light-grey:#EAEAEA;
  --icon-color:#7E7E7E;
}

a {
  text-decoration: none;
}

/** Header * */
header {
  color: var(--font-grey);
}
header div {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2980392157));
}

.logo {
  width: 180px;
  padding: 20px;
}

header h1 {
  font-size: 16px;
  font-weight: 400;
}

.icon {
  padding: 15px;
  color: var(--font-grey);
  font-size: x-large;
}

.icon__violet {
  color: var(--primary-color);
}

.icon__grey {
  color: var(--icon-color);
}

.conatiner {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location {
  justify-content: center;
}

/** Call to action section * */
.call-to-action {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  padding: 35px;
  align-items: center;
}

.center {
  padding: 20px;
}

.thin {
  font-weight: 200;
  font-size: larger;
}

.btn {
  color: white;
  padding: 18px;
  margin: 30px;
  font-size: large;
  border: none;
  border-radius: 50px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
}

/** Function *  */
.function {
  background-color: white;
  padding: 40px 25px;
}
.function h2 {
  padding-bottom: 20px;
}
.function .conatiner {
  margin: 20px 0px 20px 15px;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.12));
  padding: 15px;
  display: flex;
}
.function span {
  background-color: var(--primary-color);
  padding: 3px 8px;
  margin: -30px;
  border-radius: 50px;
  color: white;
  position: absolute;
}
.function h3 {
  font-weight: 400;
  padding: 3px;
}

/** Restautants * */
.restautants {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.restautants h2 {
  padding: 10px 0px;
}
.restautants .card {
  border-radius: 20px;
  background-color: white;
  margin: 20px 0px;
}
.restautants .card img {
  border-radius: 20px 20px 0px 0px;
  height: 190px;
  width: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 62%;
     object-position: 0 62%;
}
.restautants .card span {
  color: var(--font-green);
  background-color: var(--light-green);
  padding: 5px 15px;
  border-radius: 3px;
  position: absolute;
  margin: -180px 270px;
  font-size: small;
  font-weight: 500;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.12));
}
.restautants .card .content {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.restautants .card .content .card-subtitle {
  font-weight: lighter;
  padding: 5px 0px;
  font-size: large;
}

/* Header -> quite the shadow in the desktop version *//*# sourceMappingURL=style.css.map */